influxdb:
  replicaCount: 1

  containerPorts:
    http: {{ influxdb.port }}
    rpc: {{ influxdb.rpcPort }}

  service:
    type: ClusterIP
    port: {{ influxdb.port }}
    rpcPort: {{ influxdb.rpcPort }}

ingress:
  enabled: false

metrics:
  enabled: false
  service:
    type: ClusterIP
    port: 9122

persistence:
  enabled: true
  accessModes:
    - ReadWriteOnce
  size: {{ influxdb.volumeSize }}

architecture: standalone

auth:
  enabled: true
  usePasswordFiles: false

  admin:
    username: admin
    password: {{ influxdb.password }}
    org: {{ influxdb.database }}
    bucket: {{ influxdb.database }}
