---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-dashboard-ingress-tls
  namespace: {{ namespaces.prometheusOperator }}

spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ grafana_hostname }}.{{ domain }}`)
      kind: Rule
      services:
        - name: prometheus-operator-grafana
          namespace: {{ namespaces.prometheusOperator }}
          port: 80
