---
apiVersion: v1
kind: Service
metadata:
  name: traefik-internal
  namespace: {{ namespaces.traefik }}

spec:
  selector:
    app.kubernetes.io/instance: traefik
    app.kubernetes.io/name: traefik
  type: ClusterIP
  ports:
    - port: 9000
      name: http
      protocol: TCP
